.card {
  position: relative;
  width: 90%;
  height: 90%;
  border: 10px solid #000;
  margin: 20px auto;
  box-shadow: inset 10px 0px 15px 0px rgba(0, 0, 0, 0.1);
  background-color: #ecf0f1;;
  overflow-y: hidden;
}

.contentContainer{
  margin: auto;
}

.headerText{
  font-family: 'Nobile', sans-serif;
  font-size: 2.5rem;
  margin: 30px auto;
  color: #000;
  font-weight: 700;
}

.textContent {
  font-size: 2rem !important;
  line-height: 1.5;
  font-family: 'Nobile';
  color: #0984e3;
  font-style: italic;
  text-align: center;
  margin: 20px auto 0px auto;
}

.textContentCard {
  font-size: 1.75rem !important;
  line-height: 1.5;
  font-family: 'Nobile';
  color: #0984e3;
  font-style: italic;
  text-align: center;
  margin: 20px auto 0px auto;
  padding-right: 10px;
}

.frontSide{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: -10px 0px 0px -10px;
  border: 10px solid #000;
  backface-visibility: hidden;
  background-color: #ecf0f1;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(0deg);
  transition: all .8s ease-in-out;
  overflow-y: hidden;
}

.frontSideClicked{
  transform: perspective(800px) rotateY(-170deg);
  background-color: #ecf0f1;
  overflow-y: hidden;
}

.backSide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: visible;
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transition: all 0.8s ease-in-out;
  background-color: #ecf0f1;;
  overflow-y: hidden;
}

.backSideClicked{
  transform: perspective(800px) rotateY(-170deg);
  box-shadow: 7px 0px 5px 0px rgba(0,0,0,0.3),
              inset 2px 0px 15px 0px rgba(0,0,0,0.1);
  background-color: #000;
  overflow-y: hidden;
}

@keyframes zoomIn {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(2);
  }
}

.rootContainer {
  position: absolute;
  top: 10%;
  left: 10%;
}

.neonText {
  text-align: center;
  font-size: 4rem;
  line-height: 1;
  text-decoration: none;
  color: #fff;
  font-family: "Monoton";
  animation: neon 1.5s ease-in-out infinite alternate;
}

.birthdayCakeImage {
  position: absolute;
  left: 35%;
  bottom: 10%;
}

@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}

.wormholeContainer {
  position: absolute;
  background-color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex; 
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.textContainer {
  display: flex;
  align-items: center;
  height: 100vh;
}

@media (max-width: 600px) {
    .headerText {
        font-size: 2rem;
    }

    .textContent {
        font-size: 1.5rem;
    }

    .neonText {
        font-size: 5rem;
    }

    .card {
        margin: 10px auto;
    }

    .frontSide img, .backSide img {
        width: 100px;
    }

    .rootContainer {
        top: 5%;
        left: 5%;
    }
}

.frontSide,
.backSide,
.card {
    will-change: transform;
}