.whiteScreen {
    background-color: aqua;
    width: 100vw;
    height: 100vh;
  animation: expandToFullscreen 3s ease-in-out;
    
}

@keyframes expandToFullscreen {
    0% {
         display: none;
    }
    100% {
        width: 100vw;
        height: 100vh;
    background-color: aqua;

    }
}